.container{
    min-width: 550px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    gap:30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
}

.header{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

.header .section{
    padding: 10px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    font-size:  1.1rem;
    white-space: nowrap;
    cursor: pointer;
}

.header .active{
    border-bottom: 2px solid #ff4d2e;
    color: #ff4d2e;
}

.body{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
.detail .row {
    display: flex;
    gap: 20px;
  }

.detail .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.detail .row > div {
        flex: 1;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
  
  .chips .new {
    color: #239ce2;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  .chip {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 4px 8px;
    background-color: #545454;
    border-radius: 20px;
    cursor: default;
  }
  
  .chip p {
    font-weight: 500;
    line-height: 1.25rem;
    color: #fff;
  }
  .chip svg {
    color: #fff;
    height: 18px;
    width: 18px;
    cursor: pointer;
  }
  
  .chips .active {
    background-color: #ff622e;
  }

