.container{
    padding: 40px 5px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    background-color: rgb(253, 227, 172);
    min-height: 10vh;
}

.heading{
    margin: 0 auto;
    max-width: 500px;
    background-color: rgb(30, 30, 30);
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: bold;
    line-height: 4.5rem;
    letter-spacing: 1px;
}

.heading span{
    background-clip: text;
    background-image: linear-gradient(to right, #ff622e, #ff4d2e);
    color: transparent;
}

.right img{
    width: 400px;
    max-width: 70%;
}